<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.here.android.tutorial" >

    <!-- <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
        No longer needed since this is specified in build.gradle -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true">

        <activity
            android:name=".BasicMapActivity"
            android:label="Hello HERE Maps!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="bm8G03BysQAjEHvyCgSm" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="CprS7w8rXTBHblaSlb8xVQ" />
    </application>

</manifest>
