<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.here.android.tutorial">

    <!-- <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
        No longer needed since this is specified in build.gradle -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".BasicMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="com.here.android.maps.appid" android:value="bm8G03BysQAjEHvyCgSm"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value="CprS7w8rXTBHblaSlb8xVQ"/>
<meta-data android:name="com.here.android.maps.license.key" android:value="JnKKp2dH8YHnn884lT/dQCqibQD7gaZKJhBfXhcI6czFyloa4pDul2i6JE2bg6L2nn6FwwlPc/giJuhz/rsAbg29A8N5QOk+7lA56y3EDNsSnZ5oieSgQCrqbzsWeJ7/rjpT8I3l4HHCpaY7e2DIejfQx1JgDOUpuoarjtozKQ+TPl4Fi8UHlHeAy92McBb+vXlYchHbOlmu+08By2RY5VOiidPVFv0RKTYz8hfCZA/2zr4W+HEhbHjfukate2QtLgjqh9ipxaH9S0PCiG59t4TfQcO1VPAgQpqt1b6H6r0HSvXNKY3xq0jq/mA10ID0dRP0enI5PQdo46cls4Jszz8T8Lp+Chuwanpk7ke5XpFxy14q+q0B1hjfknDyFKMA8dazvlZ6lyflksHebP9y0iPG02r6l4owGxgTlwixJFrLvkZEA1zeSInk0hx8I4YGOhFEKSZYqphA3SIV/iQRrtaAyrI1NXUhNg5m9AuiMVuZiwd79OwKI7iSXKPbUucT8cgA0sjxkXjZRw1nKFB54IG2b0OK8ZWS38NU5O+QVjjHhW1RlgwJQYICtXcDab1L1ON0UHR9G1dBzUxeMcEl4BiW6lfsrpA3+czgPvNZHVTesetAB+b7xsQEmQoAaEhpjDmiMFrcLmIoypyt/zQFWxHSVyfxepU8ir23ZXrSDz4="/>
































        

        <!--
             Embed the HERE Map Service.
            For more information, see the HERE SDK Developer's Guide
        -->
        <service android:exported="true" android:label="HereMapService" android:name="com.here.android.mpa.service.MapService" android:process="global.Here.Map.Service.v2">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService">
                </action>
            </intent-filter>
        </service>


    </application>

</manifest>
