<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayktec.DialogaCity" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginCityWowzer"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="9O9uVPKqxzGWj4Xrnq8n"/>
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="mHp3J56eRSM0i5GnFHrx-g" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="dfzrMOCT5Juu+ptdkxlELqM3hiaoh+haEBSJFUlvqc9Yuo8ZalAyb8mfOeFY2aHq75veUFrKO44gfWpPlwsMMrryzcDAIWHSInFW9i0qM8RFfdz9kHrGR46qvW8OA00rLxx2KJY4Op9MnnOzkP+Jq1lKQ0rdX66GGwK61v0OYuScaw0xHgD/kJmtfkHklFTqZSuaSFaYNBizEHuxMDlOFlkZR3Nq8UQzU9isHWB630C1HhWvg8zi94YknJgj6ooqbkpZ5ljHO0ovRbS1iedYo2+UfphO4CBohmT4zXvNOcINWnIBPwsjZ9ifxazrd/XVuNQEhTTiIdIH9iHr/Mo016h8465/amxgPRwUuKpJQviZN8HnKCdhpItc4YOgnYXSnv2CVKzdPE+332swIAHwR5g7pEn9+FxY8Tsz0l/r7HRPb60yQ9SagAAJ9kJr6/rMPJeVtpWS1/pkO4Ey+x2vk9cWraf67l+w5ItOVgJbOj6zH/MCURtj7rDfqBtekaSoK6WLO0xt1V+karcKu8++PQwNIMJY8XKToMZ5E3shelVoiLPwzF2nRKtUQGeDEaapAXlPA/8hXeYhIOffZU/TFFWL2N5pOm4stM1Cah7XLnBnezzTJg9eFpyRlPTXByQN+LhDHK3c388H8pAo7v36s5SiTxlkE+6Ca3fFqHQu6Cs=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>

        <service
            android:name=".GPSTracker"
            android:exported="true" >
        </service>
        <service
            android:name=".ServicioSincronizacion"
            android:exported="true" >
        </service>
        <receiver android:name=".BootServicio">
                <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action></intent-filter>
        </receiver>
        <service
            android:name=".ServicioNotificacion"
            android:exported="true" >

        </service>
        <service android:name=".ServicioMusica" />

        <activity
            android:name=".ActividadMapaCityWowzer"
            android:label="@string/title_activity_login_city_wowzer" >
        </activity>
        <activity
            android:name=".RegistroCityWowzer"
            android:label="@string/title_activity_registro_city_wowzer" >
        </activity>
        <activity
            android:name=".DenunciaActivity"
            android:label="@string/title_activity_denuncias" >
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ActividadMapaCityWowzer"/>
        </activity>

        <activity
            android:name=".ListadoDenuncias"
            android:label="@string/title_activity_listado_denuncias" >
        </activity>
        <activity
            android:name=".ListadoComentarios"
            android:label="@string/title_activity_listado_comentarios" >
        </activity>
        <activity
            android:name=".ComentarioActivity"
            android:label="@string/title_activity_comentario" >
        </activity>
        <activity
            android:name=".MostrarImagen"
            android:label="@string/title_activity_mostrar_imagen" >
        </activity>
        <activity
            android:name=".MenuConfiguracion"
            android:label="@string/title_activity_menu_configuracion" >
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
